# Accounting details for donations
NUXT_PUBLIC_DONATE_ACCOUNT_NUMBER=2177174407
NUXT_PUBLIC_DONATE_BANK_NAME="United Bank Of Africa"
NUXT_PUBLIC_DONATE_ACCOUNT_NAME="Ugwu Ubasinachi Ejifor"

# Email SMTP settings (Backend proof of payment emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=activegrowthgroups@gmail.com
SMTP_PASS=your_smtp_app_password
MAIL_TO=activegrowthgroups@gmail.com
